body {
margin-top: 20px;
background-image: url('');
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Alegreya', serif; ;
}
            
// styling the carousel 
		 .carousel-item  {
		 	display: block;
             margin: 0 auto;
             width: 40%;
             height: auto;
             max-width: 10px;
             max-height: 10px;
		 }

		 .carousel-control-next-icon, .carousel-control-prev-icon {
		 	height: 40px;
		 	width: 40px;
            outline: black;
            border: 1px solid;
            background-color: rgba(0, 0, 0, 0.3);
         }

/* styling the hr */
.hr  {
  border-top: 2px solid brown;
  animation: movehr 1.5s;
  -webkit-animation: movehr 1.5s;
  min-width: 400px;
  }
  
  @keyframes movehr {
    from {
      margin-top: 180px;
    }
  
    to {
      margin-top: 20px;
    }
  }
              
  @-webkit-keyframes movehr {
    from {
      margin-top: 180px;
    }
  
    to {
      margin-top: 20px;
     
    }
  }
         
/* styling the heading */

.header  {
  animation: moveh1 1.5s;
  -webkit-animation: moveh1 1.5s;
}

@keyframes moveh1 {
  from {
    margin-left: 99%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes moveh1 {
  from {
    margin-left: 199%;
    width: 100%; 
  }

  to {
    margin-left: 50%;
    width: 100%;
  }
}

/* styling the first content box */
.a img {
    float: right;
    width: 20%;
    height: auto;
    display: block;
}
.a {
    border: 1px solid;
    margin-left: 2.1%;
    margin-right: 2.1%;  
    padding: 1%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.a p {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.a h2 {
    margin-left: 4%;
    margin-top: 5px;
}


  /* styling the second content box */ 
  .b img {
    float: left;
    width: 20%;
    display: block;
}

.b {
    border: 1px solid;
    margin-left: 2.1%;
    margin-right: 2.1%;  
    padding: 1%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.b p {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.b h2 {
    margin-left: 4%;
    margin-top: 5px;
}

.a, .b {
    animation: move1 1.5s;
    -webkit-animation: move1 1.5s;
  }
  
  @keyframes move1 {
    from {
      margin-left: 99%;
      width: 96%; 
      font-size: 20px;
    }
  
    to {
      margin-left: 2.1%;
      width: 96%;
      font-size: 20px;
    }
  }
              
  @-webkit-keyframes move1 {
    from {
      margin-left: 199%;
      width: 100%; 
      font-size: 20px;
    }
  
    to {
      margin-left: 2.1%;
      width: 100%;
	    font-size: 20px;
    }
  }
  
.b  li {
      list-style-image: url("bullet.png");
      font-size: 20px;
    }

.a li {
  list-style-image: url("bullet2.png");
  font-size: 20px;
  }
