ul {list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	}
	
li {
	float: left;
	}
	
li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px
	}
	
li a:hover {
	background-color: #555;
	colot: white;
	}

.active { 
	background-color: #4CAF50;
	color: white;
	}
	
